[Desktop Entry]
Name=LiveCoding
Exec=livecoding
Icon=assets/livecoding.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Name[en_US]=livecoding.desktop
