[Desktop Entry]
Name=LiveCoding
Exec=livecoding
Icon=assets/kikou.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
Name[en_US]=livecoding.desktop
